<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
        <table>
            <colgroup>
                <col span="1" >
                <col span="1" >
                <col span="1" >
                <col span="1" >
                <col span="1" >
            </colgroup>
            <tr>
                <th class="text-left">Username</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Department</th>
                <th>Title</th>

            </tr>
            {% for row in results %}
            <tr>
                {% for value in row %}
                <td class="">
                    {{value}}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>