<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="wrapper">
        <div style="background-color:lavender; !important" class="jumbotron text-center bg-primary">
            <h2> Welcome back {{username}}.</h2>
        </div>
</div>
    {% if action_fail %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Post creation failed</h4>
        <p>You exceeded your post creation limit</p>
    </div>
    {% endif %}
    {% if action_success%}
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading"></h4>
            <p>Action Successful</p>
        </div>
    {% endif %}
    <hr>

    <div class="center">
        <h3>Available Classroom in Time Slot</h3>
        <form id="postform" class="form-group" method="POST" action="{%url 'timeSlotAvailableList' %}">
                {%csrf_token%}
                <br>
                <label>Get Course Grade</label>
                <input type="text" name="time_slot_id" placeholder="Time Slot" required>
                <input type="submit" name="submit" value="Search">
        </form>
    </div>
    <hr>
    <div class="center">
        <h3>Add Course</h3>
        <form id="postform" class="form-group" method="POST" action="{%url 'addCourseInstructor' %}">
                {%csrf_token%}
                <br>
                <label>Course ID</label>
                <input type="text" name="course_id" required>
                <br>
                <label>Course Name</label>
                <input type="text" name="course_name" required>
                <br>
                <label>Credits</label>
                <input type="text" name="credits" required>
                <br>
                <label>Classroom ID</label>
                <input type="text" name="classroom_id" required>
                <br>
                <label>Time Slot</label>
                <input type="text" name="time_slot" required>
                <br>
                <label>Quota</label>
                <input type="text" name="quota" required>
                <input type="submit" name="submit" value="Add">
        </form>
    </div>
    <hr>
    <div class="center">
        <h3>Add Prerequisite</h3>
        <form id="postform" class="form-group" method="POST" action="{%url 'addPrerequiste' %}">
                {%csrf_token%}
                <br>
                <label>Course ID</label>
                <input type="text" name="course_id" required>
                <br>
                <label>Prerequisite ID</label>
                <input type="text" name="prerequisite_id" required>
                <input type="submit" name="submit" value="Add">
        </form>
    </div>
    <hr>
    <div class="center">
        <form id="postform" class="form-group" method="POST" action="{%url 'coursesGivenList' %}">
                {%csrf_token%}
                <input type="submit" name="submit" value="Get Given Courses">
        </form>
    </div>
    <hr>
    <div class="center">
        <form id="postform" class="form-group" method="POST" action="{%url 'studentsTakingCourse' %}">
                {%csrf_token%}
                <br>
                <label>Students Taking Course</label>
                <input type="text" name="course_id" required>
                <input type="submit" name="submit" value="Search">
        </form>
    </div>
    <hr>
    <div class="center">
        <h3>Change Course Name</h3>
        <form id="postform" class="form-group" method="POST" action="{%url 'updateCourseName' %}">
                {%csrf_token%}
                <br>
                <label>Course ID</label>
                <input type="text" name="course_id" required>
                <label>New Course Name</label>
                <input type="text" name="course_name" required>
                <input type="submit" name="submit" value="Change">
        </form>
    </div>
    <hr>
    <div class="center">
        <h3>Give Grade</h3>
        <form id="postform" class="form-group" method="POST" action="{%url 'updateCourseName' %}">
                {%csrf_token%}
                <br>
                <label>Course ID</label>
                <input type="text" name="course_id" required>
                <label>Student ID</label>
                <input type="text" name="student_id" required>
                <label>Grade</label>
                <input type="text" name="grade" required>
                <input type="submit" name="submit" value="Change">
        </form>
    </div>
    <hr>
    <a href="{%url 'index' %}"> <p style="text-align:center">Logout</p></a>

</div>
</body>
</html>